@font-face {
  font-family: "Fredoka One", cursive;
  src: url("https://fonts.googleapis.com/css?family=Fredoka+One");
}
@font-face {
  font-family: "Abel", cursive;
  src: url("https://fonts.googleapis.com/css?family=Abel");
}
.links:hover {
  text-decoration: none;
}
.links:link {
  color: #333333;
}
.links:active {
  color: #000000;
}
.links:visited {
  color: #333333;
}
.App {
  text-align: center;
}

.mocha-logo {
  font-family: "Fredoka One";
  font-size: 50px;
  color: black;
}

.text-styles {
  font-family: "Abel";
  color: #333333;
}

.img-size {
  height: 50px;
  width: 50px;
}

.barsets {
  background-color: #5bc0de;
}

.flav {
  border-style: solid;
  border-width: 1px;
  border-color: #3a3a3a;
  border-radius: 2px;
  padding: 4px;
}

.slide-in {
  animation: animateSearch 1s ease-out 1 forwards;
}
.slide-out {
  animation: animateSearchOut 400ms ease-out 1 forwards;
}

.slide-down {
  animation: animateSlideDown 500ms ease-in 1 forwards;
}
.slide-up {
  animation: animateSlideUp 400ms ease-in 1 forwards;
}
@keyframes animateSearch {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 150px;
    opacity: 1;
  }
}
@keyframes animateSearchOut {
  from {
    width: 150px;
  }
  to {
    width: 0px;
  }
}
@keyframes animateSlideDown {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}
@keyframes animateSlideUp {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}
